<div class="container">	
	<form name="createForm">
	<div>	
			
		<h5>Press 'Save' to save new movie.</h5>
		<h5>Press 'Clear' to enter another movie.</h5>		
		
		<div class="header">
			<button type="button" ng-click="postMovie()" ng-disabled="!createForm.$valid || successfulInsert"
				class="btn btn-success"> 
				Save
			</button>
			<button type="button" ng-click="clearMovie()" 
				class="btn btn-success"> 
				Clear
			</button>											
		</div>			
			<br>
			<table  class="table table-bordered small-table">									
				<tr>							
					<td><label for="title">Title:</label><br>
						<input id="title" type="text" ng-model="newMovie.title" required size=40/>
					</td>
				</tr>				
				<tr>
					<td>
						<label for="genre">Genre:</label><br>
						<select ng-options="value for value in genreValues" required
							ng-model="newMovie.genre">
						</select>
					</td>
				</tr>
				<tr>					
					<td>
						<label for="releaseYear">Release Year:</label><br>
						<input type="number" min="1920" max="2020" name="releaseYear"
							ng-model="newMovie.releaseYear" required>	
							
						<div>
							<span class="text-danger"
								ng-show="createForm.releaseYear.$error.required && createForm.$dirty">
								Required!
							</span>
							<span class="text-danger" ng-show="createForm.releaseYear.$touched && createForm.releaseYear.$error.min">
								Must be a number greater than 1920.
							</span>
							<span class="text-danger" ng-show="createForm.releaseYear.$touched && createForm.releaseYear.$error.max">
								Must be a number less than 2020.
							</span>
						</div>												
					</td>					
				</tr>
				<tr>
					<td>
						<p> <span class="text-warning" ng-bind="createStatus"></span></p>
					</td>
				</tr>
		</table>				
		<br>							
	</div>
	</form>
</div>	